/*Задаются свойства для блока входа/регистрации в приложении login в файле login/login.html и login/register.html*/
.login-page{
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 400px;
    height: 500px;
    margin-left: 350px;
    /* background: #4a464e; */
    background: #294141;
    padding: 20px; /* Задать внутренние отступы в 10px со всех сторон */
    border-radius: 10px; /* Закругленные углы */


}
