<!--Главная страница биобанка!-->

{% extends 'biobank/biobank_layout.html' %}

{% block title %}Главная страница биобанка{% endblock %}

{% block content %}
    <div class="features">
        <p>Добро пожаловать  {{ username }} в биобанк платформы W_VI</p>
        <!--Временная текстовая заглушка-->
        <p>Платформа W-VI разработана с целью обеспечить исследователей и ученых инструментами для биоинформатического анализа молекулярных данных. Она предоставляет пользовательский доступ к множеству биоинформатических инструментов и ресурсам для анализа ДНК, РНК и белков, а также для предсказания их структуры и функций.</p>

    </div>
{% endblock %}