<!--Наследуем структуру сайта из щаблона layout.html-->
{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>
            Страница про нас
        </h1>
        <p>
            Кто есть создатели этого 8 чуда света
        </p>
        <p>
            Текст-заглушка: Sed ut perspiciatis, quis nostrum exercitationem ullam corporis suscipit laboriosam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <button class="btn btn-warning">Кнопка не работает</button>
    </div>
{% endblock %}