<!--Наследуем структуру сайта из щаблона layout.html-->
{% extends 'main/layout.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="features">
        <h1>
            Контакты
        </h1>
        <p>
            Здесь можно будет с нами связаться
        </p>
        <p>
            Текст-заглушка: Sed ut perspiciatis, quis nostrum exercitationem ullam corporis suscipit laboriosam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <button class="btn btn-warning">Кнопка для вида</button>
    </div>
{% endblock %}