<!--Главная страница сайта-->

{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>
            {{ title }}
        </h1>
        <p>Добро пожаловать на платформу W_VI</p>

                {{ username }}<br>
<!--        Временная текстовая заглушка-->
        <p>Платформа W-VI разработана с целью обеспечить исследователей и ученых инструментами для биоинформатического анализа молекулярных данных. Она предоставляет пользовательский доступ к множеству биоинформатических инструментов и ресурсам для анализа ДНК, РНК и белков, а также для предсказания их структуры и функций.</p>

    </div>
{% endblock %}