{% load static %} {#Указываю, что будут использоваться статические файлы#}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
<!--    Подключаем все стили с boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
<!--    Подлючаем статистические файлы(css, js, img)-->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<!--    Неудачная попытка подключить шаблоны из fontawesome для загрузки значков-->
    <link rel=”stylesheet” href=”https://use.fontawesome.com/releases/v6.4.2/css/all.css” />


</head>

<body>
<!--Создание отдельного блока для расположения логотипа платформы"-->
    <div class="header">
        <div class="logo">
            <img src="{% static 'main/img/logo.png' %}" alt="Логотип платформы">
            <a>W-VI</a>
        </div>
        <!-- Создание шапки сайта, указываем ссылки на другие страницы -->
        <div class="center-panel">
            <a href="{% url 'home'%}">Домик</a>
            <a href="{% url 'biobank_home'%}">Биобанк</a>
            <a href="{% url 'contacts' %}">Помощь</a>
            <a href="{% url 'about'%}">О нас</a>
        </div>
        <div class="login">
            {%if username%}
            <!-- Выделение отдельного тега под форму входа/регистрации-->
                <!-- <a class="login" href="{% url 'login'%}">{{ username }}</a> -->
                <span id="username">{{ username }}</span>
                <div class="user-actions hidden">
                    <button id="profile-button" class="hidden">Профиль</button>
                    <button id="logout-button" class="hidden">Выйти</button>
                </div>
        
            
            {% else %}
            <a class="login" href="{% url 'login'%}">Вход/регистрация</a>
            {% endif %}
            </div>
    </div>

    <div class="files">
        <h5>Ваши файлы:</h5>
        <ul>
            {% if user_files %}
                {% for file in user_files %}
                    <li>
                        {{ file.name }}
                        <a href="{{ file.file.url }}" download>{{file.text}}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

<!--Создаем боковой блок, который связан с основным блоком страницы-->
    <aside>
<!--        Создание отдельного блока для надписи Панель инструментов-->
        <div class="panel">
            <h3><span class="bar_name">Панель инструментов</span></h3>
        </div>
        <!--Подключаем блок группы обработки ДНК-->
        <div class="instruments">
            <p><span class="name_instruments">Обработка ДНК </span></p>
            <ul>
                <a href="{% url 'dna-length'%}"><li><i class="fa-regular fa-house"></i>Свойства ДНК</li></a>
                <a href="{% url 'news_home'%}"><li><i class="fa-regular fa-house"></i>Выравнивание ДНК</li></a>
                <a href="{% url 'about'%}"><li><i class="bi bi-search"></i>Деревья</li></a>
                <a href="{% url 'contacts'%}"><li><i class="fa-solid fa-phone"></i>Поиск мутаций</li></a>
                {#<a href="{% url 'news_create'%}"><li><button class="btn btn-info">Добавить запись</button></li></a>#}
            </ul>
    <!--        Отключаем подчеркивание у элементов списка-->
            <style>
                a {
              text-decoration: none;
                    }
            </style>
        </div>

        <div class="instruments">
            <p><span class="name_instruments">Нейросети</span></p>
    <!--        Подключаем блок нейросетей-->
            <ul>
                <a href="{% url 'home'%}"><li><i class="fa-regular fa-house"></i>Инструмент 1</li></a>
                <a href="{% url 'news_home'%}"><li><i class="fa-regular fa-house"></i>Инструмент 2</li></a>
                <a href="{% url 'about'%}"><li><i class="bi bi-search"></i>Инструмент 3</li></a>
                <a href="{% url 'contacts'%}"><li><i class="fa-solid fa-phone"></i>Инструмент 4</li></a>
                {#<a href="{% url 'news_create'%}"><li><button class="btn btn-info">Добавить запись</button></li></a>#}
            </ul>
    <!--        Отключаем подчеркивание у элементов списка-->
            <style>
                a {
              text-decoration: none;
                    }
            </style>
        </div>
    </aside>
    <main>
<!--        Создаем отдельный основной блок для контента страницы-->
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>