{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <form method="POST" class="login-page">
      {% csrf_token %} {#Токен необходим для доставки формы до базы данных#}
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input name="username" type="text" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email почта</label>
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input name="password" type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Пароль</label>
      </div>
    
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Запомнить меня </label>
          </div>
        </div>
    
        <div class="col">
          <!-- Simple link -->
          <a href="#!">Забыли пароль?</a>
        </div>
      </div>
    
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    
      <!-- Register buttons -->
      <div class="text-center">
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
      </div>
    </form>
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}" />

{% endblock %}